.characterCard {
  margin: 16px;
  width: 350px;
  height: 200px;
  display: flex;
  border-radius: 8px;
  transition: all 0.3s;
  opacity: 0.8;
}

.characterCard:hover {
  box-shadow: 4px 4px 5px rgba(256, 256, 256, 0.3);
  transform: scale(1.1);
  opacity: 1;
}

.characterCard h1 {
  font-size: 1.2rem;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 8px;
}

.dataContainer {
  width: 40%;
  background-color: rgb(195, 219, 226);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dataContainer p {
  padding: 8px;
}

.image {
  border-radius: 0px 8px 8px 0;
}
