.container {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 64px;
  max-width: 1600px;
  min-height: 100vh;
  border-radius: 16px;
}

@media (min-width: 800px) {
  .container {
    grid-template-columns: 1fr 1fr;
    padding: 64px;
  }
}

@media (min-width: 1200px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
