.characterCard {
  margin: 16px;
  width: 350px;
  height: 500px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  transition: all 0.3s;
  opacity: 0.8;
  background-color: #111;
  border: 3px solid blue;
  box-shadow: 4px 4px 5px rgba(256, 256, 256, 0.3);
}

.characterAlive {
  border: 3px solid green;
}

.characterDead {
  border: 3px solid red;
}

.title {
  text-align: center;
  color: #fafafa;
  padding: 16px;
  font-size: 1.2rem;
  border-bottom: 3px solid blue;
  margin-bottom: 16px;
}

.titleAlive {
  border-bottom: 3px solid green;
}

.titleDead {
  border-bottom: 3px solid red;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid blue;
}

.circleAlive {
  border: 5px solid green;
}

.circleDead {
  border: 5px solid red;
}

.characterCard:hover {
  transform: scale(1.4);
  opacity: 1;
}

.dataContainer {
  margin: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dataContainer p {
  padding: 8px;
  color: #fafafa;
}

.image {
  border-radius: 50%;
}
