.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.5rem;
  padding: 16px;
  padding-right: 64px;
  height: 100px;
  background-color: var(--primary-bg-color);
  top: 0;
  width: 100%;
  z-index: 2;
}

.element {
  color: #fff;
  padding-right: 16px;
  transition: all 0.3s;
}

.element:hover {
  border-bottom: 3px solid #fff;
}

.navIco {
  filter: invert(1);
  padding: 32px;
  display: none;
}

@media (max-width: 800px) {
  .nav {
    display: none;
  }
  .navIco {
    display: block;
  }
}
