.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.5rem;
  padding: 16px;
  height: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.element {
  padding: 16px;
  color: aliceblue;
}
