.content {
  background-color: #fff;
  display: flex;
  max-height: 800px;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 0 16px 16px 0;
  padding: 32px;
  color: #333;
  box-shadow: 2px 1px 1px rgba(3, 3, 3, 0.3);
}

.content h1 {
  text-align: center;
  padding-bottom: 32px;
  font-size: 3rem;
}

.content p {
  text-align: center;
  margin: 32px 16px;
}

.content button {
  border-radius: 16px;
  width: 50%;
  color: white;
  background-color: var(--primary-bg-color);

  margin-top: 16px;
  font-size: 1.4rem;
  padding: 8px 16px;
}

@media (min-width: 1300px) {
  .content {
    border-radius: 0 50% 50% 0;
  }
}
