.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-bg-color);
}

.form {
  font-size: 1.3rem;
  border-radius: 16px;
  background-color: rgb(236, 236, 223);
  width: 400px;
  padding: 32px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  margin: 32px;
  border-bottom: 2px solid black;
}

.input {
  margin: 16px;
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  font-size: 1.2rem;
  border: none;
  background-color: rgba(179, 175, 175, 0.281);
}

.btn {
  background-color: rgb(75, 75, 190);
  color: white;
  border-radius: 16px;
  width: 100px;
  height: 50px;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: rgb(46, 46, 160);
  transform: scale(1.1);
}

.signin {
  font-size: 1rem;
  margin: 16px;
  color: rgb(75, 75, 190);
  border-bottom: 1px solid rgb(179, 175, 175);
}

@media (min-width: 800px) {
  .form {
    width: 450px;
    padding: 32px;
  }
}
